*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    background: #fcfcfc;
    font-family: sans-serif;
    font-size: 1.2rem;
    color: rgb(143, 143, 143);
}
.container{
    height: 100%;
    min-height: 80vh;
    width: 80vh;
    max-width: 600px;
    margin: 20px auto;
    border: 2px solid white;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.5);
    border-radius: 10px;
   
}
 h3{
    color: white;
    margin: 4px;
}
.input-ui{
    background-color: #c59aa0;
    background-image: linear-gradient(315deg, #eec0c6 0%, #589fac 74% );
    text-align: center;
    height: 120px;
    padding: 15px;
    margin-bottom: 1px;

}
input{
    padding: 6px;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    height: 40px;
}
input:focus{
    outline: none;
    border: solid 1px lightslategray;
}
input[type=submit]{
    background-color: rgb(143, 161, 179);
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: white;
    color: rgb(143, 161, 179);
    transition: all 500ms ease-in-out;
}
.output-ui{
    min-height: 520px;
    background: white;
}
.output-ui ul{
    list-style: none;
    padding: 20px;
}
.output-ui ul li{
    margin: 0.8rem;
    border-bottom: solid 0.1px rgb(214,214,214);
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    margin-left: 15px;
    cursor: pointer;
}
a:hover{
    opacity: 0.6;
    color: rgba(14,224,105,0.966);

}
.filter{
    background-color: rgb(247, 247, 247);
    margin: 2%;
}
.msg{
    background-color: rgb(247,247,247);
    height: 200px;
    color: grey;
    margin: 2rem;
    padding-top: 4rem;
    text-align: center;

}
.clear-tasks{
    background-color: lightcoral;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;

}
.clear-tasks:hover{
 color: lightcoral;
 background: rgb(247,247,247);
}
